body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f63481;
    margin: 0;
}

img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    align-items: center;
}

.calculator {
    background-color: rgb(6, 180, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #fcfafa;
}

